body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.header{
    max-height: 100px;
    max-width: 800px;
    width: 90vw;
    height: 90vw;
    border: 5px solid orange;
    border-radius: 10px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100vw;
    max-height: 800px;
    max-width: 800px;
    width: 90vw;
    height: 90vw;
    gap: 2px;
    border: 5px solid orange;
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;
}

.center {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 7;
    grid-column-end: 10;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center>#dice {
    height: 50%;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    font-size: 1rem;
}

button:active {
    transform: scale(0.95);
}

.box {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 75%;
    height: 75%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
}

.home>.token {
    border: 2px solid black;
    border-radius: 50%;
    height: 35%;
    width: 35%;
}

.red>.home>.token {
    background-color: red;
}

.green>.home>.token {
    background-color: green;
}

.blue>.home>.token {
    background-color: blue;
}

.yellow>.home>.token {
    background-color: yellow;
}

.red {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    background-color: red;
}

.green {
    grid-row-start: 1;
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-end: 7;
    background-color: green;
}

.blue {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 16;
    background-color: blue;
}

.yellow {
    grid-row-start: 10;
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-end: 16;
    background-color: yellow;
}

.r {
    background-color: red;
}

.g {
    background-color: green;
}

.y {
    background-color: yellow;
}

.b {
    background-color: blue;
}

.star {
    color: black;
}

.token {
    background-color: #Fff39a;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    /* Adjust the color and size of the glow */
    transform: scale(1.05);
}

.r1, .r2, .r3, .r4{
    background: darkred;
    border: 1px solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.g1,
.g2,
.g3,
.g4 {
    background: darkgreen;
    border: 1px solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.y1,
.y2,
.y3,
.y4 {
    background: rgb(230, 230, 59);
    border: 1px solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.b1,
.b2,
.b3,
.b4 {
    background: darkblue;
    border: 1px solid black;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.goti:hover{
    transform: scale(1.15);
}