body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url('./images/background.jpg');
        /* Replace 'wood_texture.jpg' with your image file */
        background-repeat: repeat;
        /* Repeat the image to cover the entire background */
        background-size: cover;
}
.header{
    border: 5px solid orange;
    background-color: bisque;
    border-radius: 10px;
    height: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(15 , 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100vw;
    max-height: 700px;
    width: 700px;
    gap: 2px;
    border: 5px solid orange;
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;
}
.center{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 7;
    grid-column-end: 10;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center > #dice{
    height: 50%;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 2rem;
}
button:active{
    transform: scale(0.95);
}
.box{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    width: 75%;
    height: 75%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
}
.home > .s1 , .s2 , .s3 , .s4{
    border: 2px solid black;
    border-radius: 50%;
    height: 35%;
    width: 35%;
}
.red>.home>.s1,
.red>.home>.s2,
.red>.home>.s3,
.red>.home>.s4 {
    background-color: red;
}
.green>.home>.s1,
.green>.home>.s2,
.green>.home>.s3,
.green>.home>.s4 {
    background-color: green;
}
.blue>.home>.s1,
.blue>.home>.s2,
.blue>.home>.s3,
.blue>.home>.s4 {
    background-color: blue;
}
.yellow>.home>.s1,
.yellow>.home>.s2,
.yellow>.home>.s3,
.yellow>.home>.s4 {
    background-color: yellow;
}

.red{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    background-color: red;
}
.green {
    grid-row-start:1 ;
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-end: 7;
    background-color: green;
}
.blue {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 16;
    background-color: blue;
}
.yellow {
    grid-row-start: 10;
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-end: 16;
    background-color: yellow;
}
.r{
    background-color: red;
}
.g {
    background-color: green;
}
.y {
    background-color: yellow;
}
.b {
    background-color: blue;
}
.star{
    color: black;
}